{% extends "Page/base.html.twig" %}



{% block content %}
    <!--symfony configure pour que cela parte directement depuis Page donc pas besoin de mettre templates pour le chemin meme si on cree le dossier Partial pour mettre sa base il faudra ecrire 'Partial/articles.html.twig' sans passer par templates {Pourcent extends "Page/base.html.twig" Pourcent} -->
    <main>
        <p>Pika Pika !!</p>
        <p>Les articles du blog</p>
    {% for pokemon in pokemons %}
        {% if pokemon.isPublished %}
            <p>{{ pokemon.id }}</p>
            <p>{{ pokemon.title }}</p>
            <p>{{ pokemon.content }}</p>
            <img src="{{ pokemon.image }}">
        {% endif %}
    {% endfor %}

    </main>
{% endblock %}
