{% extends "Page/base.html.twig" %}



{% block content %}
    <main>
        <h1>Pika Pika !!</h1>
        <h1>Les categories</h1>
        {% for categorie in categories %}
                <h1>{{categorie}}</h1>
        {% endfor %}
    </main>
{% endblock %}