{% extends "Page/base.html.twig" %}

{% block metatitle%} categories {% endblock %}

{% block content %}
    <main>
        <h2 id="Pika">Pika Pika !!</h2>
        <h1>Les categories</h1>
        {% for categorie in categories %}
                <h1>{{categorie}}</h1>
        {% endfor %}
    </main>
{% endblock %}