{% extends "Page/base.html.twig" %}

{% block metatitle%} Insert your Poke {% endblock %}

{% block content %}

    <section>
        <form method="post" class="insertPoke">

            <label>
                <p class="pi">Titre</p>
                <input type="text" name="title">
            </label>

            <label>
                <p class="pi">Image</p>
                <input type="text" name="image">
            </label>

            <label>
                <p class="pi"> Description</p>
                <input type="text" name="description">
            </label>

            <label>
                <p class="pi">Type</p>
                <input type="text" name="type">
            </label>

            <div class="submit" >
                <input type="submit" />
            </div>
        </form>
    </section>
{% if pokemon %}

    <p>Le pokemon {{ pokemon.title }} a bien été créé ! </p>

{% endif %}

{% endblock %}