{% extends "Page/base.html.twig" %}

{% block metatitle%} Get your Poke {% endblock %}

{% block content %}

    <main>
        <h1>Get Your Pokemons from DB </h1>

            <h1 class="poke">Your favorite Poke is here</h1>
            <h1 class="poke2">{{ pokemon.title }}</h1>
            <p class="poke2"><img src="{{ pokemon.image }}"></p>
            <h1 class="poke2">{{ pokemon.description }}</h1>




    </main>
{% endblock %}