{% extends "Page/base.html.twig" %}

{% block metatitle%} Get your Poke {% endblock %}

{% block content %}
    <!--symfony configure pour que cela parte directement depuis Templates donc  Page donc pas besoin de mettre templates pour le chemin meme si on cree le dossier Partial pour mettre sa base il faudra ecrire 'Partial/articles.html.twig' sans indiquer  templates {Pourcent extends "Page/base.html.twig" Pourcent} -->
    <main>
        <h1>Pika Pika !!</h1>

            {% if pokemon and pokemon.isPublished %}
                <h1 class="poke">Your favorite Poke is here</h1>
                <h1 class="poke2">{{ pokemon.title }}</h1>
                <p class="poke2"><img src="{{ pokemon.image }}"></p>
                <h1 class="poke2">{{ pokemon.content }}</h1>
                <a href="{{ path('show_pokemon', {idPokemon:pokemon.id}) }}">Go get Your Poke</a>
            {% else %}
                <p class="poke">Your favorite Poke doesn't exist</p>

            {% endif %}

    </main>
{% endblock %}