{% extends "Page/base.html.twig" %}

{% block metatitle%} Poker_Form {% endblock %}

{% block content %}
   <form method="get">
       <label>
           Thanks to register your age
           <input type="number" name="age">
       </label>
       <input type="submit">

   </form>
{% endblock %}